@import "reset.css";

* {
  font-family: "Pretendard";
}

body {
  position: relative;
}

.hidden {
  display: none;
} 

#clock {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
}

#quotes {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 680px;
  left: 50%;
  transform: translate(-50%);

  white-space: nowrap;
  border-top: 2px solid white;

  padding-top: 7px;
}


#bgImage {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(40%);
}
